body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: white;
    margin-left:auto;
    margin-right: auto;
    width:800px;
}

.product-image img{
    max-width:400px;
    max-height: auto;
}

.product-main{
    display: inline-flex;
    max-width: 800px;
}

.product-main-info{
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-details{
    display:inline-block;
}

.product-title h3{
    font-weight: 400;
    font-size: 26px;
    color: #43484D;
    letter-spacing: -2px;
}

/* Product Color */
.product-color {
    margin-bottom: 30px;
  }
  
  .color-choose div {
    display: inline-block;
  }
  
  .color-choose input[type="radio"] {
    display: none;
  }
  
  .color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .color-choose input[type="radio"] + label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }
  
  .color-choose input[type="radio"]#green + label span {
    background-color:darkolivegreen;
  }
  .color-choose input[type="radio"]#gold + label span {
    background-color:lightsalmon;
  }
  .color-choose input[type="radio"]#silver + label span {
    background-color:silver;
  }
  .color-choose input[type="radio"]#grey + label span {
    background-color: grey;
  }
  
  .color-choose input[type="radio"]:checked + label span {
    background-image: url(assets/check-icn.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  